{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
      <head>
        <!-- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
        <title>careers</title>
        <meta name="description" content="Akash Dwivedi">
        <meta name="keywords" content="Akash Dwivedi">
        <meta name="author" content="Akash Dwivedi">
        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Template CSS Files
        ================================================== -->
        <!-- Twitter Bootstrs CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Ionicons Fonts Css -->
        <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
        <!-- animate css -->
        <link rel="stylesheet" href="{% static 'css/animate.css' %}">
        <!-- Hero area slider css-->
        <link rel="stylesheet" href="{% static 'css/slider.css' %}">
        <!-- owl craousel css -->
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/jquery.fancybox.css' %}">
        <!-- template main css file -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!-- responsive css -->
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

        <!-- Template Javascript Files
        ================================================== -->
        <!-- modernizr js -->
        <script src="{% static 'js/vendor/modernizr-2.6.2.min.js' %}"></script>
        <!-- jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <!-- owl carouserl js -->
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <!-- bootstrap js -->

        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- wow js -->
        <script src="{% static 'js/wow.min.js' %}"></script>
        <!-- slider js -->
        <script src="{% static 'js/slider.js' %}"></script>
        <script src="{% static 'js/jquery.fancybox.js' %}"></script>s
        <!-- template main js -->
        <script src="{% static 'js/main.js' %}"></script>
    </head>
    <body>
        <!--
        ==================================================
        Header Section Start
        ================================================== -->
    <header id="top-bar" class="navbar-fixed-top animated-header">
            <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <!-- /responsive nav button -->

                    <!-- logo -->
                    <!-- /logo -->
                </div>
                <!-- main menu -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <div class="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{% url 'home' %}" >Home</a>
                            </li>
                            <li><a href="{% url 'about' %}">About</a></li>
                            <li><a href="{% url 'career' %}">career</a></li>

                           <!-- blog created  <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <span class="caret"></span></a>
                                <div class="dropdown-menu">
                                    <ul>
                                        <li><a href="blog-fullwidth.html">Blog Full</a></li>
                                        <li><a href="blog-left-sidebar.html">Blog Left sidebar</a></li>
                                        <li><a href="blog-right-sidebar.html">Blog Right sidebar</a></li>
                                    </ul>
                                </div>
                            </li>-->
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- /main nav -->
            </div>
        </header>

        <!-- 
        ================================================== 
            Global Page Section Start
        ================================================== -->
        <section class="global-page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2>career</h2>
                            <ol class="breadcrumb">
                                <li>
                                    <a href="{% url 'home' %}">
                                        <i class="ion-ios-home"></i>
                                        Home
                                    </a>
                                </li>
                                <li class="active">career</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>   
        </section><!--/#Page header-->


        <!-- 
        ================================================== 
            career Page Section  Start
        ================================================== -->
        <section id="career-page" class="pages career-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                        <h1 class="title wow fadeInDown" data-wow-delay=".3s">UnderGraduation</h1>
                        <p class="wow fadeInDown col-md-10" data-wow-delay=".5s">
                        	I am currently pursuing my undergraduate education at the Krishna  Institute of Engineering and Technology, Ghaziabad, Uttar Pradesh, India. It is an institute of national importance and also one of the most prestigious engineering institutes in State.  The academic curriculum is pretty challenging and hectic. I attend 30+ hours of lectures and dedicate another 15+ hour for extra academic activities each week. I have been able to maintain consistency in my academic performance at NITK.
I have tried to explored a lot of opportunities in KIET - Academic Research Work, Open Source Contribution, Freelancing, Competitive Programming, Start Ups . In essence, I have tried to do a bit of everything. This has helped me discover myself.
                        </p>
                            <div class="col-md-2 wow fadeInRight" data-wow-delay=".3s">
                            <img src="{% static 'images/team/logo.jpg' %}" alt="" class="img-responsive"></div>
                    </div>
                    </div>
                    <div class="col-md-10">
                        <p class="list_para">✔ <b>Institute</b> : <a href="http://kiet.edu/" target="_blank">Krishna  Institute of  Engineering and Technology Ghaziabad, Uttar Pradesh, India</a>.</p>
                        <p class="list_para">✔ <b>Degree</b> : Bachelor of Technology (B.Tech)</p>
                        <p class="list_para">✔ <b>Major / Branch</b> :Computer Science</p>
                        <p class="list_para">✔ <b>Expected Date of Graduation</b> :20th June 2017</p>
                        <p class="list_para">✔ <b>Aggregate percentage</b> :84.3% after 5th semester.</p>
                    </div>

                </div>
            </div>





        </section>



        <!-- 
        ================================================== 
            Works Section Start
        ================================================== -->
        <section class="works career-page">
            <div class="container">
                <h2 class="subtitle wow fadeInUp animated" data-wow-delay=".3s" data-wow-duration="500ms">Some Of Our Features Works</h2>
                    <p class="subtitle-des wow fadeInUp animated" data-wow-delay=".5s" data-wow-duration="500ms">
                        Aliquam lobortis. Maecenas vestibulum mollis diam. Pellentesque auctor neque nec urna. Nulla sit amet est. Aenean posuere <br> tortor sed cursus feugiat, nunc augue blandit nunc, eu sollicitudin urna dolor sagittis lacus.
                    </p>
                <div class="row">
                    <div class="col-sm-3">
                         <figure class="wow fadeInLeft animated portfolio-item" data-wow-duration="500ms" data-wow-delay="0ms">
                            <div class="img-wrapper">
                                <img src="{% static 'images/portfolio/item-1.jpg' %}" class="img-responsive" alt="this is a title" >
                                <div class="overlay">
                                    <div class="buttons">
                                        <a rel="gallery" class="fancybox" href="{% static 'images/portfolio/item-1.jpg' %}">Demo</a>
                                        <a target="_blank" href="">Details</a>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="#">
                                        Dew Drop        
                                    </a>
                                </h4>
                                <p>
                                    Redesigne UI Concept
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="img-wrapper">
                                <img src="{% static 'images/portfolio/item-2.jpg' %}" class="img-responsive" alt="this is a title" >
                                <div class="overlay">
                                    <div class="buttons">
                                        <a rel="gallery" class="fancybox" href="{% static 'images/portfolio/item-2.jpg' %}">Demo</a>
                                        <a target="_blank" href="">Details</a>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="#">
                                        Bottle Mockup        
                                    </a>
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit.
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms">
                            <div class="img-wrapper">
                                <img src="{% static 'images/portfolio/item-3.jpg' %}" class="img-responsive" alt="" >
                                <div class="overlay">
                                    <div class="buttons">
                                        <a rel="gallery" class="fancybox" href="{% static 'images/portfolio/item-3.jpg' %}">Demo</a>
                                        <a target="_blank" href="">Details</a>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="#">
                                        Table Design        
                                    </a>
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet.
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                    <div class="col-sm-3">
                        <figure class="wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="600ms">
                            <div class="img-wrapper">
                                <img src="{% static 'images/portfolio/item-4.jpg' %}" class="img-responsive" alt="" >
                                <div class="overlay">
                                    <div class="buttons">
                                        <a rel="gallery" class="fancybox" href="{% static 'images/portfolio/item-4.jpg' %}">Demo</a>
                                        <a target="_blank" href="">Details</a>
                                    </div>
                                </div>
                            </div>
                            <figcaption>
                                <h4>
                                    <a href="#">
                                        Make Up elements        
                                    </a>
                                </h4>
                                <p>
                                    Lorem ipsum dolor.
                                </p>
                            </figcaption>
                        </figure>
                    </div>

                   

                </div>
            </div>
        </section>
        <!-- 
        ================================================== 
            Clients Section Start
        ================================================== -->
        <section id="clients">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="subtitle text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".3s">Our Happy Clinets</h2>
                        <p class="subtitle-des text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".5s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, error.</p>
                        <div id="clients-logo" class="owl-carousel">
                            <div>
                                <img src="{% static 'images/clients/logo-1.jpg' %}" alt="">
                            </div>
                            <div>
                                <img src="{% static 'images/clients/logo-2.jpg' %}" alt="">
                            </div>
                            <div>
                                <img src="{% static 'images/clients/logo-3.jpg' %}" alt="">
                            </div>
                            <div>
                                <img src="{% static 'images/clients/logo-4.jpg' %}" alt="">
                            </div>
                            <div>
                                <img src="{% static 'images/clients/logo-5.jpg' %}" alt="">
                            </div>
                            <div>
                                <img src="{% static 'images/clients/logo-1.jpg' %}" alt="">
                            </div>
                            <div>
                                <img src="{% static 'images/clients/logo-2.jpg' %}" alt="">
                            </div>
                            <div>
                                <img src="{% static 'images/clients/logo-3.jpg' %}" alt="">
                            </div>
                            <div>
                                <img src="{% static 'images/clients/logo-4.jpg' %}" alt="">
                            </div>
                            <div>
                                <img src="{% static 'images/clients/logo-5.jpg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>





        <!-- 
        ================================================== 
            Call To Action Section Start
        ================================================== -->
        <section id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <h2 class="title wow fadeInDown" data-wow-delay=".3s"   data-wow-duration="500ms">SO WHAT YOU THINK ?</h1>
                            <p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis,<br>possimus commodi, fugiat magnam temporibus vero magni recusandae? Dolore, maxime praesentium.</p>
                            <a href="contact.html" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">Contact With Me</a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>


        <!-- 
        ================================================== 
            Footer Section Start
        ================================================== -->
         <footer id="footer">
                <div class="container">
                    <div class="col-md-8">
                        <p> Powered By <bold>Djnago</bold></p>
                    </div>
                    <div class="col-md-4">
                        <!-- Social Media -->
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/akash.dwivedi.98" class="Facebook">
                                    <i class="ion-social-facebook"></i>
                                </a>
                            </li>

                            <li>
                                <a href="https://in.linkedin.com/in/akash-dwivedi-270150a9" class="Linkedin">
                                    <i class="ion-social-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/u/0/101618258205520296777" class="Google Plus">
                                    <i class="ion-social-googleplus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>  <!-- /#footer -->
    </body>
</html>